body {
    background-color: rgb(129, 129, 248);
    color: black;
font-family: Arial, Helvetica, sans-serif;
height:100vh;
margin: 0;
} 
header{
    background-color: black;
    text-align: center;
}
    h1{
     font-size: 2rem;
     color: aliceblue;
    font-weight: 700;
     }
     nav
     {
        display: flex;
        justify-content: center;
        font-weight: 400;
     }
        nav a {
            text-decoration: chartreuse
            color: lawngreen;
            margin: 0rem 2rem 3rem 0rem;

        }
        header{

            background-color: lime;
            text-align: center;
            padding: 1px;
        
        }
        